Package: com.leroy.alwaysremindme
Name: AlwaysRemindMe
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Text reminder on the home- and lockscreen!
Depiction: https://leroy-b.github.io/home/repo/description/AlwaysRemindMe.html
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 0.1.0
Installed-Size: 244
