Package: com.leroy.alwaysremindme
Name: AlwaysRemindMe
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Small text reminder on the home- and lockscreen!
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 11-BETA
Installed-Size: 244
