Package: ch.leroyb.alwaysremindme
Name: AlwaysRemindMe
Depends: mobilesubstrate, firmware (>= 10.0)
Architecture: iphoneos-arm
Description: Small text reminder on the home- and lockscreen!
Depiction: http://bit.ly/AlwaysRemindMe
Maintainer: LeroyB <leroy.email.inbox@gmail.com>
Author: LeroyB <leroy.email.inbox@gmail.com>
Section: Tweaks
Version: 1.0.2
Installed-Size: 908
