Package: ch.leroyb.customcontrolcentre
Name: CustomControlCentre
Depends: mobilesubstrate, firmware (>= 11.0)
Architecture: iphoneos-arm
Description: This package lets you customise the Control Centre.
Maintainer: LeroyB <leroy.email.inbox@gmail.com>
Author: LeroyB <leroy.email.inbox@gmail.com>
Section: Tweaks
Version: 0.0.4
Installed-Size: 264
