Package: com.leroy.customcc
Name: CustomCC
Depends: mobilesubstrate, firmware(>=11.0), preferenceloader
Architecture: iphoneos-arm
Description: Customize the Control Center!
Depiction: https://leroy-b.github.io/home/repo/description/CustomCC.html
Maintainer: LeroyB <leroy.email.inbox@gmail.com>
Author: LeroyB <leroy.email.inbox@gmail.com>
Section: Tweaks
Version: 0.2.2BETA2
Installed-Size: 216
