Package: com.leroy.customcc
Name: CustomCC
Depends: mobilesubstrate, firmware(>=11.0), preferenceloader
Architecture: iphoneos-arm
Description: Customize the Control Center!
Depiction: https://leroy-b.github.io/home/repo/description/CustomCC.html
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 0.1.1-80+debug
Installed-Size: 204
