Package: com.leroy.nopasscodebuttonlightup
Name: NoPasscodeButtonLightup
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Prevents the passcode buttons from lighting up.
Depiction: https://leroy-b.github.io/Home/repo/description/NoPasscodeButtonLightup.html
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 2.0.2
Installed-Size: 136
