Package: com.leroy.nopasscodebuttonlightup
Name: NoPasscodeButtonLightup
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: https://leroy-b.github.io/Home/repo/description/NoPasscodeButtonLightup.html
Maintainer: LeroyB
Author: LeroyB
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 136
